@tailwind base;
@tailwind components;
@tailwind utilities;

.input-wrapper {
    
    position: relative;
    display: inline-block;
}

.add {
   
    position: absolute;
    right: 15px;
    color: black;
    top: 8px;
    
}