@tailwind base;
@tailwind components;
@tailwind utilities;

.score {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .25rem;
    margin: 1rem;
    position: relative;
    transition: opacity .2s;
}

#play-againg-btn {
    position: absolute;
    top: -.5rem;
    left: 50%;
    margin-left: -50px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #111;
    border: 5px double #fff;
    border-radius: 1rem;
    padding: .4rem .5rem;
    cursor: pointer;
    display: none;
    opacity: 0;
    
}

#play-againg-btn:hover {
    background-color: #333;
}

#play-again-btn:active {
    background-color: #555;
}

.draggable-items {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem 1.5rem 1rem;
    transform: opacity .5s;
}

.dragabble {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    font-size: 4rem;
    font-weight: bold;
}